@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    <!DOCTYPE>
    <html lang="en">
    <head>
        <base href="../">
        <meta charset="utf-8" />
        <title>Kütüphane Uygulaması</title>
        <meta name="description" content="Updates and statistics">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
        <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/pages/login/login-5.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="~/assets/media/logos/logo-min-groupM.png" />
        <script>
            var KTAppOptions = {
                "colors": {
                    "state": {
                        "brand": "#5d78ff",
                        "dark": "#282a3c",
                        "light": "#ffffff",
                        "primary": "#5867dd",
                        "success": "#34bfa3",
                        "info": "#36a3f7",
                        "warning": "#ffb822",
                        "danger": "#fd3995"
                    },
                    "base": {
                        "label": [
                            "#c5cbe3",
                            "#a1a8c3",
                            "#3d4465",
                            "#3e4466"
                        ],
                        "shape": [
                            "#f0f3ff",
                            "#d9dffa",
                            "#afb4d4",
                            "#646c9a"
                        ]
                    }
                }
            };
        </script>
    </head>
    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Page -->
        <div class="kt-grid kt-grid--ver kt-grid--root">
            <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v5 kt-login--signin" id="kt_login">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile" style="background-image: url('@Url.Content("~/assets/media/bg/bg-3.jpg")');">
                    <div class="kt-login__left">
                        <div class="kt-login__wrapper">
                            <div class="kt-login__content">
                                <a class="kt-login__logo" href="#">
                                    <img src="~/assets/images/library.jpg" alt="">
                                </a>
                                <h3 class="kt-login__title">Kütüphane Uygulaması</h3>
                            </div>
                        </div>
                    </div>
                    <div class="kt-login__divider">
                        <div></div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
    </html>
}

